@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");


.sell-section{
  margin-top: 20px;
  background: #FFF;
  width: 100%;
  height: 100vh;
}

.title{
  color: #5A301D;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}
.pic-section{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 80px;
    margin-left: 0px;
    height: 200px;
    width: 300px;
    animation: scrolling 10s linear infinite;

}
.pic-section img{
height: 300px;
width: 400px;
border-radius: 30px;
}


@keyframes scrolling {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(-100%);
}
}

.scrolling-image {
margin-right: 30px; 
}

@media (max-width: 768px) {
.sell-section{
  margin-top: 40px;
  height: auto;
  
}
.title {
  font-size: 30px;
}

.pic-section {
  display: flex;
  flex-direction: row; 
  gap: 10px; 
  margin-left: 0;
  height: auto; 
  width: 50%; 
  
}

.pic-section img {
  width: 100%;
  height: auto;
}

.scrolling-image {
  margin-right: 0; 
}

}